<!DOCTYPE html> 
<html>
    <head>
        <link rel ="stylesheet" href ="style.css" />
        <title>Amazon-Website-Clone</title>
    </head>
    <body>
        <div class = "grid-container">
            <header class ="row">
                <div>
                    <a class = "brand" href = "index.html" >Amazon</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="cart.html">Sign In</a>
                </div>
            </header>
            <main>
                <div class = "row center" >
                    <div class ="card" >
                        <a href = "product.html" >
                            <img class = "medium" src = "./images/image1.jpg" alt = "product">
                        </a>
                        <div class="card-body" >
                            <a href ="product.html" >
                                <h2>Women's Tee</h2>
                            </a>
                            <div class ="rating">
                                <span>
                                    <i class ="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class ="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class ="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class ="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class ="fa fa-star"></i>
                                </span>
                            </div>
                            <div class ="price" >$23</div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center" >All Rights Reserve</footer>
        </div>
    </body>
</html>